
body{
padding: 0;
margin: 0;
background-color: rgb(255, 255, 255);
}
header{
background-color: rgb(255, 255, 255);
color: black;
height: 60px;
text-align:center
}
nav {
background-color: rgb(131, 146, 179);
text-align: center;
   padding: 10px; 
   color: white;
   height: 30px;
}
nav a {
font-size:1.5em ;
text-decoration:none ;
margin:0 ;
color: white;
padding: 10px;
display: inline-block;

}
nav a:hover{
background-color: blueviolet;
position: relative;
top: -5px;

}
nav a:focus{
   
   color: blue;
   border: 0;
}


main{
   text-align: right;

}
h2{
   text-align: right;

}
h1 {
text-align: center;

}







